*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  margin: -1px;
}

/* common */

.container {
  padding: 0 16px;
  margin: 0 auto;
}

.page-header {
  height: 810px;
  margin: 0 auto;
  padding: 20px 37px 0;
  background-color: #000;
  background-image: url("../images/bg-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 371px) {
  .page-header {
    padding: 20px 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 34px 68px 0;
    background-image: url("../images/bg-hero-tablet.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .page-header {
    padding: 46px 92px 0;
    background-image: url("../images/bg-hero-desktop.jpg");
  }
}

@media screen and (min-width: 1440px) {
  .page-header {
    padding: 60px 120px 0;
    background-image: url("../images/bg-hero-desktop-large.jpg");
  }
}

/* HEADER */

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 40px;
  height: 40px;
}

.nav-list,
.contacts {
  display: none;
}

.burger-btn {
  padding: 0;
  display: block;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  stroke: #fff;
  width: 32px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 60px;
    height: 60px;
  }

  .burger-icon {
    width: 48px;
    height: 30px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 121px;
  }

  .nav-link {
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    width: 80px;
    height: 80px;
  }

  .burger-icon {
    width: 64px;
    height: 40px;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* MENU */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0%);
}

.menu-container {
  position: relative;
  padding: 114px 37px 224px;
  display: flex;
  flex-direction: column;
  height: 810px;
  margin: 0 auto;
}

.menu-close-btn {
  position: absolute;
  top: 30px;
  right: 37px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-title {
  writing-mode: vertical-rl; /* Rotates 270° */
  transform: rotate(180deg); /* Fixes upside-down text */
  position: relative;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #000;
}

.menu-nav {
  display: flex;
  align-items: flex-start;
  margin: 0;
  gap: 6px;
}

.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  margin-bottom: 92px;
}

.nav-item {
  width: 234px;
  height: 46px;
  display: flex;
  align-items: center;
}

.nav-item-link {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #000;
}

.menu-contacts {
  font-style: normal;
  display: block;
  margin-bottom: 34px;
}

.menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-contacts-mail {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

.menu-contacts-phone {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

.menu-social-media-list {
  display: flex;
  gap: 20px;
}

.menu-social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-social-media-icon {
  fill: #000;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-media-link:hover,
.menu-social-media-link:focus {
  background-color: #000;
}

.menu-social-media-link:hover .menu-social-media-icon,
.menu-social-media-link:focus .menu-social-media-icon {
  fill: #fff;
}

@media screen and (max-width: 371px) {
  .menu-container {
    padding: 114px 16px 224px;
  }

  .menu-close-btn {
    right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    padding: 160px 110px 230px;
  }

  .menu-close-btn {
    top: 50px;
    right: 70px;
  }
}

@media screen and (min-width: 1158px) {
  .menu-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 254px 127px;
    overflow: hidden;
  }
  .menu-close-btn {
    top: 70px;
    right: 100px;
  }

  .menu-nav {
    gap: 33px;
  }

  .nav-list {
    justify-content: flex-end;
    margin: 0 252px 0 0;
    padding: 0;
    flex-shrink: 1;
  }

  .nav-item {
    width: 292px;
    height: 53px;
  }

  .nav-item-link {
    font-size: 64px;
  }

  .menu-contacts {
    margin-bottom: 30px;
  }

  .menu-contacts-list {
    gap: 20px;
  }
  .menu-contacts-mail {
    font-size: 24px;
  }

  .menu-contacts-phone {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .menu-container {
    padding: 254px 268px;
  }
  .menu-close-btn {
    top: 80px;
    right: 140px;
  }
}

/* HERO */

.hero-container {
  align-items: center;
  padding: 190px 17px;
  margin: 0 auto;
  min-height: 100%;
}

.hero {
  display: flex;
}

.hero-title {
  max-width: 298px;
  max-height: 160px;
  font-family: "League Gothic", sans-serif;
  font-size: 72px;
  line-height: 0.83;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  margin: 0 auto 5px;
}

.hero-text {
  max-width: 292px;
  max-height: 62px;
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.36em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.hero-btn {
  display: block;
  margin: 72px auto 0;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 192px 17px;
  }
  .hero {
    max-width: 768px;
    margin: 0 auto;
  }

  .hero-title {
    max-width: 416px;
    max-height: 160px;
    font-size: 96px;
  }

  .hero-text {
    max-width: 408px;
    max-height: 62px;
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.36em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .hero-container {
    padding: 194px 17px 334px;
  }

  .burger-icon:hover,
  .burger-icon:focus {
    stroke: #b0b0b0;
  }
  .hero {
    max-width: 1158px;
  }

  .hero-title {
    max-width: 534px;
    max-height: 108px;
  }

  .hero-text {
    max-width: 524px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
}

/* ABOUT ME */

.about-me-container {
  background-color: #fff;
  padding: 60px 37px 0;
}

.about-me-title {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.about-me-text {
  text-align: justify;
}

@media screen and (max-width: 371px) {
  .about-me-container {
    padding: 60px 16px 0;
  }
}

@media (min-width: 768px) {
  .about-me-title {
    font-size: 28px;
  }

  .about-me-container {
    background-color: #fff;
    padding: 60px 120px 0;
  }
}

@media (min-width: 1158px) {
  .about-me-title {
    font-size: 32px;
  }

  .about-me-container {
    background-color: #fff;
    padding: 60px 260px 0;
  }
}

@media (min-width: 1440px) {
  .about-me-container {
    background-color: #fff;
    padding: 60px 400px 0;
  }
}

/* MY SKILLS */

.my-skills-container {
  background-color: #fff;
  padding: 60px 37px 0;
}

.my-skills-title {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.my-skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.my-skills-item {
  width: calc(50% - 10px);
  display: flex;
  gap: 3px;
}

@media screen and (max-width: 371px) {
  .my-skills-container {
    padding: 60px 16px 0;
  }
}

/* Tablet: 4 columns */
@media (min-width: 768px) {
  .my-skills-container {
    padding: 60px 120px 0;
  }
  .my-skills-title {
    font-size: 28px;
  }

  .my-skills-item {
    width: calc(25% - 10px);
  }
}

/* Desktop: 5 columns */
@media (min-width: 1158px) {
  .my-skills-container {
    padding: 60px 260px 0;
  }

  .my-skills-title {
    font-size: 32px;
  }
  .my-skills-item {
    width: calc(20% - 10px);
  }
}

@media (min-width: 1440px) {
  .my-skills-container {
    background-color: #fff;
    padding: 60px 400px 0;
  }
}

/* PORTFOLIO */
.portfolio-container {
  background-color: #fff;
  padding: 60px 37px 60px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-text {
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 38px;
}

.portfolio-list-item {
  min-width: 288px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.thumb {
  height: 382px;
}

.thumb img {
  /* width: 100%; 
  height: auto;
  max-width: 100vw;  */

  width: 100%; /* Fill width */
  height: 100%; /* Fill height */
  object-fit: cover; /* Crop to fit */
}

.name-type {
  padding: 17px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.arrow-icon {
  fill: #000;
}

.portfolio-links-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.portfolio-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 18px 51px;
  width: 297px;
  height: 60px;
  background-color: #d9d9d9;
  gap: 12px;
}

@media screen and (max-width: 371px) {
  .portfolio-container {
    padding: 60px 16px 60px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 44px;
    row-gap: 72px;
  }

  .portfolio-list-item {
    max-width: 308px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .portfolio-list {
    row-gap: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .thumb {
    position: relative;
    overflow: hidden;
    height: 460px;
  }

  .portfolio-links-list {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .portfolio-list-item {
    max-width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* OVERLAY */

.overlay {
  background: linear-gradient(to top, #666 0%, #444 40%, #222 70%, #000 100%);
  opacity: 80%;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay-text {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.02em;
}

.overlay-link {
  margin: 0 auto;
}

.discover-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 18px 51px;
  width: 297px;
  height: 60px;
  background-color: #d9d9d9;
  gap: 12px;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

@media (max-width: 1157px) {
  .overlay {
    display: none;
  }
}

/* FOOTER */

.footer-container {
  background-color: #000;
  padding: 80px 37px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  /* flex-wrap: wrap;
  gap: 21px; */
}

.footer.nav {
  display: flex;
  justify-content: space-between;
  gap: 33px;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  gap: 33px;
}

.footer-nav-link {
  color: #fff;
  font-weight: 700;
}

.footer-contacts-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contacts-link {
  color: #fff;
}

.footer-logo {
  width: 58px;
  height: 58px;
}

@media screen and (max-width: 371px) {
  .footer-container {
    padding: 60px 16px;
  }

  .footer-nav-list {
    gap: 26px;
  }
}

.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer-social-media {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.social-list-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #fff;
  display: block;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 16px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon,
.subscribe-icon {
  fill: #f4f4fd;
}

.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 24px;
  position: relative;
}

.form-input {
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  outline: transparent;
}

.form-input::placeholder {
  color: #fff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 80px 60px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-nav-list {
    gap: 30px;
  }

  .footer-contacts {
    align-self: flex-start;
  }

  .footer-logo {
    /* display: inline-block; */
    width: 87px;
    height: 87px;
  }
}

.footer-social-media {
  width: 208px;
  align-items: flex-start;
  justify-content: flex-start;
}

.subscribe-title {
  text-align: left;
}

.form-input {
  width: 264px;
}

@media screen and (min-width: 1158px) {
  .footer-container {
    padding: 120px 90px;
  }

  .footer-nav-list {
    margin-right: 130px;
  }

  .footer-contacts {
    margin-right: 200px;
  }

  .footer-logo {
    width: 116px;
    height: 116px;
  }

  .social-list-link:hover,
  .social-list-link:focus {
    background-color: #31d0aa;
  }

  .logo-text {
    margin-left: 0;
    margin-right: 120px;
    max-width: 264px;
    height: 112px;
  }

  .footer-subscribe {
    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    padding: 160px 120px;
  }

  .footer-nav-list {
    margin-right: 217px;
  }

  .footer-contacts {
    margin-right: 340px;
  }
}

/* BACKDROP */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  align-content: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-container {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-input-cont {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 34px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
  pointer-events: none;
}

.input-container {
  margin-bottom: 16px;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.text-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-btn:hover .close-btn-icon,
  .close-btn:focus .close-btn-icon {
    fill: #ffffff;
  }

  .close-btn:hover,
  .close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .modal-form-input {
    padding-left: 38px;
  }
}

/* CHECKBOX AREA */

.label-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.accept-terms {
  display: flex;
  flex-direction: column;
}

.label-checkbox {
  align-items: center;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  position: relative;
}

.check-icon {
  position: absolute;
  top: 4px;
  left: 3px;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .label-checkbox .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox:checked + .label-checkbox .custom-checkbox .check-icon {
  fill: #f4f4fd;
}

.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding-top: 1px;
}

.accept-terms-link {
  color: #4d5ae5;
}

.send-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  border: none;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .accept-terms {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
}

@media screen and (min-width: 1158px) {
  .accept-terms-link:hover {
    text-decoration: underline;
  }

  .send-button:hover,
  .send-button:focus {
    background-color: #404bbf;
  }
}
